* {
  margin: 0;
  padding: 0;

}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
  background-color: grey;
}

.react-grid-item {
  display: flex;
}

img {
  margin: 4px 4px;
  height: 97%;
  width: 98%;
}

.content {
  opacity: 0;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  color: red;
  background-color: rgba(200, 200, 200, 0.5);
  margin-left: 4px;
  height: 97.5%;
  width: 98%;
  text-align: center;
}

.content:hover {
  opacity: 0.6;
}
